.chat-actions-element {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: center;    
    font-family: $font-family;
}

.chat-actions-icon {
    padding-right: 20px; 
}