
// Тестовые классы


.button-primary {
    background-color: red;
}

.button-secondary {
    background-color: blue;
}

///

.form-login-spacer {
    height: 100px;
}

.login-form-button-primary {
    color: #FFFFFF;
    background: $primary-background;
    border-radius: 8px;
}

.login-form-button-secondary {
    color: #3369F3;
    background: #FFFFFF;
}