.btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 1.2rem;
  border: none;
  border-radius: 0.8rem;
}

.btn--link {
  font-weight: $font-weight;
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: $color-blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.btn--primary {
  background-color: $color-blue;
  color: $color-white;
}

.btn-back {
  @include absCenter;
  background-image: url('../asserts/back.svg');
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
  &-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 6.4rem;
    height: 100%;
    background-color: $color-grey-light2;
    border-right-color: $color-grey-light1;
  }
}
