.chat-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    flex-basis: 100%;
}

.chat-left-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 310px;
    background-color: #fbfbfb;

    display: flex;
    flex-direction: column;    
}

.chat-infos-container {
    padding: 0 10px;
    height: 100%;
    overflow-y: scroll;
}



.chat-right-container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;

}
.chat-stub {
    margin: auto;
    font-family: $font-family;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #999999;
}

.profile-link-container {
    font-family: $font-family;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: right;
    color: #999999;
    padding: 21px 10px;
}

.link-profile-open {
    display: inline;
    &:hover {
        cursor: pointer;
    }
}

.search-container {
    margin: 0 10px;
    border-bottom: 1px solid #eaeaea;
}

.search-container-placeholder {

    display: inline-block;
    font-family: $font-family;
    font-style: normal;
    font-size: 12px;
    line-height: 32px;
    color: #999999;
    position: absolute;
    left: 100px;
    height: 32px;
    pointer-events: none;
}

.search-icon {
    margin: auto;
    height: 10px;
    opacity: 50%;
}

.input-search-box {
    border: 0;
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
    height: 32px;
    width: 290px;
}

.input-search-box:not(:placeholder-shown) ~ .search-container-placeholder,
.input-search-box:focus ~ .search-container-placeholder {
    display: none;
}

.add-chat-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 10px auto 10px   auto;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #3369f3; 
    cursor: pointer;   
    font-family: $font-family;
    font-size: 20;    
    color: white;
    &:hover {
        background-color: $primary-background-hover;
    }
}

.link-add-chat {

    font-family: $font-family;
    font-size: 20;    
    color: white;
}