* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #1e1e1e;
}

.ul-wrapper {
  li {
    margin-top: 1.2rem;
    button {
      width: 15rem;
    }
  }
}
