{{!< desktop}}
<div class='status-container-wrapper'>
  <div class='status-container'>
    <h2 class='status-container__code'>404</h2>
    <h3 class='status-container__text'>Не туда попали</h3>
    <a href='' class='status-container__link'>Назад к чатам</a>
  </div>
</div>