<ul>
    <li><a href="./signin.hbs">Авторизация</a></li>
    <li><a href="./signup.hbs">Регистрация</a></li>
    <li><a href="./profile.hbs">Профиль</a></li>
    <li><a href="./changeProfile.hbs">Изменить данные</a></li>
    <li><a href="./changeProfilePassword.hbs">Изменить пароль</a></li>    
    <li><a href="./404.hbs">404</a></li>
    <li><a href="./500.hbs">500</a></li>
</ul>