{{!< desktop}}
<div class='profile-container-wrapper'>
    {{> button-back}}
  <div class='profile-container'>
    <div class='profile-container__img-wrapper'>
      <img
        name="avatar"
        src='../asserts/avatar.svg'
        alt='avatar'
        class='profile-container__img--center'
      />
    </div>
    <h2 class='profile-container__name' name='display_name'>Иван</h2>
    <div class='profile-container__description'>
      <span>Почта</span>
      <span name="email">pochta@yandex.ru</span>
    </div>
    <div class='profile-container__description'>
      <span>Логин</span>
      <span name="login">ivanivanov</span>
    </div>
    <div class='profile-container__description'>
      <span>Имя</span>
      <span name="first_name">Иван</span>
    </div>
    <div class='profile-container__description'>
      <span>Фамилия</span>
      <span name="second_name">Иванов</span>
    </div>
    <div class='profile-container__description'>
      <span>Имя в чате</span>
      <span name="display_name">Иван</span>
    </div>
    <div class='profile-container__description'>
      <span>Телефон</span>
      <span name="phone">+7 (909) 967 30 30</span>
    </div>
    <div class='profile-container__settings'>
      <a class='profile-container__settings--blue'>Изменить данные</a>
    </div>
    <div class='profile-container__settings'>
      <a class='profile-container__settings--blue'>Изменить пароль</a>
    </div>
    <div class='profile-container__settings'>
      <a class='profile-container__settings--red'>Выйти</a>
    </div>
  </div>
</div>