<div class='status-container-wrapper'>
  <div class='status-container'>
    <h2 class='status-container__code'>{{code}}</h2>
    <h3 class='status-container__text'>{{text}}</h3>
    <a href='' class='status-container__link'>Назад к чатам</a>
  </div>
</div>