.profile-container {
  @include absCenter;
  @include absInnerCenter;
  flex-direction: column;
  width: calc($grid-width/2);
  &__img-wrapper {
    width: 13rem;
    height: 13rem;
    background-color: $color-grey-light;
    border-radius: 50%;
    position: relative;
  }
  &__img--center {
    @include absCenter;
  }
  &__name {
    margin-top: 2.1rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: 6rem;
  }
  &__description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    // &:first {
    //   margin-top: 6rem;
    // }
    &:last-of-type {
      margin-bottom: 6rem;
    }
    &:not(:last-of-type) {
      border-bottom: 0.1rem solid $color-grey-light1;
    }
    span:last-of-type {
      color: $color-grey;
    }
  }
  &__settings {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
    &:first-child {
      margin-top: 6rem;
    }
    &:not(:last-of-type) {
      border-bottom: 0.1rem solid $color-grey-light1;
    }
    &--blue {
      color: $color-blue;
    }
    &--red {
      color: $color-grey-red;
    }
  }
  &__form {
    margin-top: 9rem;
    width: 100%;
  }
}
