.form-container-wrapper {
  @include full-page-screen;
}

.form-container {
  @include abs-center;
  @include abs-inner-center;

  flex-direction: column;
  padding: 3rem;
  box-shadow: 0 0 0.6rem rgb(0 0 0 / 14%);
  border-radius: 1.2rem;
  width: 34rem;
  min-height: 45rem;

  &__header {
    @include h2;

    margin-bottom: 4rem;
  }

  &__form {
    width: 100%;
    max-height: 55rem;
    overflow-y: auto;
  }

  &__link {
    margin-top: 1.4rem;
  }

  p {
    color: $color-grey-red;
    font-size: 1.2rem;
  }
}

.field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  &__label {
    font-weight: $font-weight;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: $color-grey;
  }

  &__input {
    border: none;
    border-bottom: 0.1rem solid $color-blue;
    line-height: 1.3rem;
    padding: 0.7rem 0;
  }
}
