            <div class={{ styles.profile-avatar-wrapper }}>
                {{{ avatarImage }}}
                <div class={{ styles.profile-change-avatar-container }}>
                    <p class={{ styles.profile-change-avatar-text }}>Поменять аватар<p>
                </div>
            </div>
