.form-signup-spacer {
    height: 50px;
}

.signup-form-button-primary {
    color: #FFFFFF;
    background: $primary-background;
    border-radius: 8px;
    &:hover {
        background: $primary-background-hover;
    }
}

.signup-form-button-secondary {
    color: #3369F3;
    background: #FFFFFF;
}