@import "vars.scss";
@import 'components/index.scss';
@import 'pages/index.scss';

.auth-popup {
    margin: auto;
    width: 340px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}
.auth-container {
    padding: 30px;
}
.auth-header {
    font-family: $font-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

}
.form {

    margin: 40px 0 0 0;
}
main {
    display: flex;
    height: 100%;
}
body {
    margin: 0;
}