$color-white: #ffffff;
$color-blue: #3369f3;
$color-grey: #999999;
$color-grey-light: #efefef;
$color-grey-light1: #eaeaea;
$color-grey-light2: #FBFBFB;
$color-grey-red: #ff0000;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;

// font
$font-weight: 500;
